{% extends 'base.html.twig' %}

{% block title %}LoginTrace index
{% endblock %}

{% block body %}
	<!-- page start-->
	<div class="col-sm-8">
		<section class="panel">
			<div class="chat-room-head">
				<h3>
					<i class="fa fa-angle-right"></i>Gérer les genres</h3>
			</div>
			<div class="panel-body">

				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Username</th>
							<th>IpAddress</th>
							<th>Message</th>
							<th>Success</th>
							<th>LoggedAt</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for login_trace in login_traces %}
							<tr>
								<td>{{ login_trace.id }}</td>
								<td>{{ login_trace.username }}</td>
								<td>{{ login_trace.ipAddress }}</td>
								<td>{{ login_trace.message }}</td>
								<td>{{ login_trace.success ? 'Yes' : 'No' }}</td>
								<td>{{ login_trace.loggedAt ? login_trace.loggedAt|date('Y-m-d H:i:s') : '' }}</td>
								<td>
									<a href="{{ path('app_login_trace_show', {'id': login_trace.id}) }}">show</a>
									<a href="{{ path('app_login_trace_edit', {'id': login_trace.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucune trace enregistrée en base de données</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<a href="{{ path('app_login_trace_new') }}">Create new</a>
			{% endblock %}
