{% extends 'base.html.twig' %}

{% block title %}Historique des connexions{% endblock %}

{% block body %}
<div class="col-sm-8">
    <section class="panel">
        <div class="chat-room-head">
            <h3><i class="fa fa-angle-right"></i> Historique des connexions</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Identifiant</th>
                        <th>Adresse IP</th>
                        <th>Succès</th>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                {% for login_trace in login_traces %}
                    <tr>
                        <td>{{ login_trace.id }}</td>
                        <td>{{ login_trace.username }}</td>
                        <td>{{ login_trace.ipAddress }}</td>
                        <td>{{ login_trace.success ? 'Oui' : 'Non' }}</td>
                        <td>{{ login_trace.loggedAt ? login_trace.loggedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ login_trace.message }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucune trace enregistrée en base de données</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}
