{% extends 'base.html.twig' %}

{% block body %}
<!-- page start-->
<div class="col-sm-8">
<section class="panel">
<div class="chat-room-head">
<h3><i class="fa fa-angle-right"></i> Détails du jeu</h3>
</div>
<div class="panel-body">

    <table class="table table-striped table-advance table-hover">
        <tbody>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bullhorn"></i>
Identif</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bookmark"></i>
Titre</th>
                <td>{{ jeu.titre }}</td>
            </tr>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bookmark"></i>
Description</th>
                <td>{{ jeu.description }}</td>
            </tr>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bookmark"></i>
Genre</th>
                <td>{{ jeu.genre ? jeu.genre.libGenre : '-' }}</td>
            </tr>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bookmark"></i>
Plateforme</th>
                <td>{{ jeu.plateforme ? jeu.plateforme.libPlateforme : '-' }}</td>
            </tr>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bookmark"></i>
PEGI</th>
                <td>{{ jeu.pegi ? jeu.pegi.agePegi : '-' }}</td>
            </tr>
            <tr>
                <th class="tableau-entete"><i class="fa fa-bookmark"></i>
Marque</th>
                <td>{{ jeu.marque ? jeu.marque.nomMarque : '-' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jeux_index') }}"><button class="btn btn-primary btn-
xs"><i class="fa fa-share"></i></button></a><a href="{{ path('app_jeux_edit', {'id': jeu.id}) }}"><button class="btn
btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
{{ include('jeux/_delete_form.html.twig') }}
</div><!-- fin div panel-body-->
</section><!-- fin section jeux-->
</div><!--fin div col-sm-8-->
{% endblock %}
