{# 
 # Template du menu principal de l'application Agora
 # Mis à jour avec tous les liens de dashboard (Sprint 5 demandes 3, 4, 5)
 #}

<aside>
	<div id="sidebar" class="nav-collapse">
		<ul class="sidebar-menu" id="nav-accordion">
			<p class="centered">
				<a href="profile.html">
					<img src="{{ asset('assets/img/greece-1162816_640.jpg') }}" class="img-circle" width="80" alt="Logo MJC Agora">
				</a>
			</p>
			<h5 class="centered">MJC Agora</h5>

			{# ==================== Section Jeux vidéos ==================== #}
			<li class="sub-menu">
				<a {% if menuActif is defined and menuActif == 'Jeux' %} class="active" {% endif %} href="javascript:;">
					<i class="fa fa-desktop"></i>
					<span>Jeux vidéos</span>
				</a>
				<ul class="sub">
					<li>
						<a href="{{ path('app_jeux_index') }}">Jeux</a>
					</li>
					<li>
						<a href="{{ path('app_genre_index') }}">Genres</a>
					</li>
					<li>
						<a href="{{ path('app_plateforme_index') }}">Plateformes</a>
					</li>
					<li>
						<a href="{{ path('app_marque_index') }}">Marques</a>
					</li>
					<li>
						<a href="{{ path('app_pegi_index') }}">PEGI</a>
					</li>
				</ul>
			</li>

			{# ==================== Section Clubs d'activités / Tournois ==================== #}
			<li class="sub-menu">
				<a {% if menuActif is defined and menuActif == 'Tournois' %} class="active" {% endif %} href="javascript:;">
					<i class="fa fa-group"></i>
					<span>Tournois</span>
				</a>
				<ul class="sub">
					<li>
						<a href="{{ path('app_tournoi_index') }}">Tournois</a>
					</li>
					<li>
						<a href="{{ path('app_cat_tournois_index') }}">Catégorie de tournois</a>
					</li>
					<li>
						<a href="{{ path('app_participant_index') }}">Participants</a>
					</li>
					<li>
						<a href="{{ path('app_stat_sql_tournoi') }}">Dashboard tournois (SQL)</a>
					</li>
					<li>
						<a href="{{ path('app_stat_dql_tournoi') }}">Dashboard tournois (DQL)</a>
					</li>
					<li>
						<a href="{{ path('app_stat_qb_tournoi') }}">Dashboard tournois (QB)</a>
					</li>
					<li>
						<a href="{{ path('app_stat_tournoi_index') }}">Dashboard tournois chart.js</a>
					</li>
				</ul>
			</li>

			{# ==================== Section Formations ==================== #}
			<li class="sub-menu">
				<a {% if menuActif is defined and menuActif == 'Formations' %} class="active" {% endif %} href="javascript:;">
					<i class="fa fa-th"></i>
					<span>Formations</span>
				</a>
				<ul class="sub">
					<li>
						<a href="index.php">sous-menu 1</a>
					</li>
					<li>
						<a href="index.php">sous-menu 2</a>
					</li>
				</ul>
			</li>

			{# ==================== Section Membres (admin seulement) ==================== #}
			{% if is_granted('ROLE_ADMIN') %}
				<li class="sub-menu">
					<a {% if menuActif is defined and menuActif == 'Membres' %} class="active" {% endif %} href="javascript:;">
						<i class="fa fa-user-md"></i>
						<span>Membres</span>
					</a>
					<ul class="sub">
						<li>
							<a href="{{ path('app_membre_index') }}">Gérer les membres</a>
						</li>
					</ul>
					<ul class="sub">
						<li>
							<a href="{{ path('app_login_trace_index') }}">Historique des connexions</a>
						</li>
					</ul>
				</li>
			{% endif %}

			{# ==================== Section Intervenants ==================== #}
			<li class="sub-menu">
				<a {% if menuActif is defined and menuActif == 'Intervenants' %} class="active" {% endif %} href="javascript:;">
					<i class="fa fa-smile-o"></i>
					<span>Intervenants</span>
				</a>
				<ul class="sub">
					<li>
						<a href="index.php">sous-menu 1</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</aside>
